.shimmer {
  background: linear-gradient(90deg,
      rgba(0, 0, 0, 0.03) 0%,
      rgba(0, 0, 0, 0.06) 50%,
      rgba(0, 0, 0, 0.03) 100%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite ease-in-out;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}